<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1> Lista de Artesanos</h1>
    <form action="/upload_artesano" method="post">
        <input type="text" placeholder="Nombre" id = "nombre_artesano" name ="nombre_artesano">
        <input type="text" placeholder="apellido" id = "apellido_artesano" name ="apellido_artesano">
        <select name="penitenciaria_artesano" id="penitenciaria_artesano">
            <option value="" disabled>--Elegir ubicacion--</option>
            {% for i in penitenciaria %}
            <option value="{{i.nombre}}">{{i.nombre}}</option>
            {% endfor %}
        </select>
        <button type="submit">Enviar</button>
    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>UBICACION</th>
        </tr>
        {% for i in artesano%}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.nombre}}</td>
            <td>{{i.apellido}}</td>
            <td>{{i.penitenciaria}}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Lista de penitenciarias</h1>

    <form action="/upload_penitenciaria" method="post">
        <input type="text" placeholder="penitenciaria" id = "nombre_penitenciaria" name ="nombre_penitenciaria">
        <input type="text" placeholder="ciudad" id = "ciudad_penitenciaria" name = "ciudad_penitenciaria">
        <button type="submit">Enviar</button>
    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>CIUDAD</th>
            <th>NOMBRE</th>
        </tr>
        {% for i in penitenciaria %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.ciudad}}</td>
            <td>{{i.nombre}}</td>
            
            
        </tr>
        {% endfor %}
    </table>

</body>
</html>