<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h1>Ingrese su usuario y contraseña</h1>
{% if error %}
    <p>{{ error }}</p>
{% endif %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<form method="post">
    <input 
    type="text"
    name="username" 
    placeholder="Nombre de usuario" 
    required
    >

    <input 
    type="password" 
    name="password" 
    placeholder="Contraseña" 
    required
    class="relative block w-full rounded-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-300 sm:text-sm sm:leading-6"
    >
    <button type="submit">Entrar</button>
</form>
</body>
</html>