<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago</title>
</head>
<body>
    <h1>Pagame lo que me debés</h1>
    <form method="post" action="/pago">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>

        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required><br>

        <label for="ruc">RUC:</label>
        <input type="number" id="ruc" name="ruc" required><br>

        <label for="ciudad">Ciudad:</label>
        <input type="text" id="ciudad" name="ciudad" required><br>

        <label for="barrio">Barrio:</label>
        <input type="text" id="barrio" name="barrio" required><br>

        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" required><br>

        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <select name="pago" id="pago">
            <option value="" readonly>--Selecciona tu metodo de pago--</option>
            <option value="bitcoin">bitcoin</option>
            <option value="tdc">Tarjeta de crédito</option>
            <option value="efectivo">Efectivo</option>
            <option value="transferencia">transferencia bancaria</option>
        </select>

        <input type="submit" value="Pagar">
        <input type="reset" value="Ajavy paite">
    </form>
</body>
</html>